services:
  mongodb:
    image: mongo:latest
    container_name: mongodb
    restart: unless-stopped
    ports:
      - "27018:27017"
    volumes:
      - mongo_data:/data/db
    networks:
      - stock-network


  redis:
    image: redis:latest
    container_name: redis
    restart: unless-stopped
    ports:
      - "6380:6379"
    networks:
      - stock-network

  vault:
    image: hashicorp/vault:latest
    container_name: stock-vault
    ports:
      - "8200:8200"
    environment:
      VAULT_DEV_ROOT_TOKEN_ID: "root"
      VAULT_ADDR: "http://127.0.0.1:8200"
    cap_add:
      - IPC_LOCK
    networks:
      - stock-network

  keycloak:
    image: quay.io/keycloak/keycloak:latest
    container_name: stock-keycloak
    command: start-dev
    environment:
      KEYCLOAK_USER: admin
      KEYCLOAK_PASSWORD: admin
      KC_HOSTNAME: localhost
      KC_PORT: 8180
    ports:
      - "8180:8080"
    networks:
      - stock-network

volumes:
  mongo_data:

networks:
  stock-network:
    driver: bridge
