spring:
  config:
    activate:
      on-profile: dev

  data:
    mongodb:
      uri: ${MONGODB_URI:mongodb://localhost:27017/stockvisionai}

    redis:
      host: ${REDIS_HOST:localhost}
      port: ${REDIS_PORT:6379}

  cloud:
    vault:
      host: ${VAULT_HOST:localhost}
      port: ${VAULT_PORT:8200}
