spring:
  config:
    activate:
      on-profile: prod
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: ${KEYCLOAK_ISSUER_URI:http://localhost:8180/realms/stock-realm}
          jwk-set-uri: ${KEYCLOAK_JWKS_URI:http://localhost:8180/realms/stock-realm/protocol/openid-connect/certs}
  data:
    mongodb:
      uri: ${MONGODB_URI:mongodb://localhost:27017/stockvisionai}

    redis:
      host: ${REDIS_HOST:redis}
      port: ${REDIS_PORT:6379}

  cloud:
    vault:
      host: ${VAULT_HOST:vault}
      port: ${VAULT_PORT:8200}
